[package]
name = "hello_world"
version = "0.1.0"
edition = "2021"

[dependencies]
aether-user = { path = "../../user" }
wasmi = { version = "0.31", default-features = false }

[profile.release]
panic = "abort"
opt-level = "z"
lto = true
